body {
	margin: 0px;
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	-webkit-text-size-adjust:none;
}
h1 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 20px;
	display:flex;
	justify-content: center;
	height:35px;
}

#panel {
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	position: fixed;
	margin: 0px;
	padding: 10px 10px 10px 10px;
	/*padding-bottom: 32px;*/
	top: 0px;
	height: 200px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-box-sizing: -webkit-border-box;
	box-sizing: border-box;
}
#screencontainer {
	position: absolute;
	top: 170px;

	width:100%;
	bottom: 50px;
	overflow: auto;
}
#screen {
	overflow: hidden;
	/*min-width: 100%;*/
	min-height: 100%;
}

.svg {
	/*overflow: hidden;*/
	display:flex;
	justify-content: center;
	margin: 50 auto;
	/*padding: 0px;
	position: relative;*/
}

#footer {
	position: fixed;
	height: 48px;
	bottom: 0px;
	padding: 8px 16px;
	width: 411px;
	-webkit-box-sizing: -webkit-border-box;
	box-sizing: border-box;
}

.dlink {
	display:flex;
	justify-content: center;
	align-items: center;
	font-size: 16;
	margin-top: 5px;
	margin-bottom: 5px;
	width:210px;
	background:white;

	text-decoration: none;
	word-break: word;
	padding: 2;
	border: 2px solid black;
	border-radius: 10px;
	opacity:0.8;

}
.input-container {
	display:flex;
	align-items:center;
	justify-content:space-around;
	

}

.title-container {
	display:flex;
	/*align-items:center;*/
	justify-content:center;
	/*width:200px;*/

}

.title {

	/*border: 1px solid white;*/
	width:100%;
	display: flex;
	vertical-align: top;

}

.input {
	line-height: 22px;
	padding: 5px;
	margin: 5px;
	height:22px;
	/*border: 1px solid white;*/
	display: inline-block;
	vertical-align: top;

}
.button {
	padding:5px 5px 5px 5px;
	font-size: 24px;
	margin: 5px;
	width:50px;
	height:50px;
}

.floating-input-container{
	position:absolute;
}

.tr {
	right:10px;
	top:10px;
}

.bc {
	bottom:40px;
	margin: 5px auto;/*top:10px;*/
	width:100%;
	justify-content: center;
	display:flex;
}

.bc2 {
	bottom:10px;
	margin: 5px auto;/*top:10px;*/
	width:100%;
	justify-content: center;
	display:flex;
	text-align: center;
}

.input-label {
	line-height: 22px;
	font-size: 16px;
	padding: 5px;
	margin: 5px;
	height:22px;
	/*border: 1px solid white;*/
	display: inline-block;
	vertical-align: top;

}

.background {
	background: #4767b2;
	color: #fefefe;
}
